.container{
    height: 50px;
    border-left: 1px solid #0000;
 }
Select {
  width: 100%;
}
.ServiceTypeBtn{
    border: solid 2px white;
    width: 70%;
    height: fit-content;
}
.ServiceIcon{
    width: 30%;
}