.container {
    height: 50px;
    border-left: 1px solid #0000;
}

Select {
  width: 100%;
}

.ServiceTypeBtn {
    border: solid 2px white;
    width: 70%;
    height: fit-content;
}

.ServiceIcon {
    width: 30%;
    color: white;
}

.color-nav {
    background-color: #26D1B3;
}

.SideNav {
    min-height:100%;
    min-width: 25%;
    background-color: #26D1B3;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px ;
    display: inline-block;
}

.BtnGroup {
    margin-right: auto;
    margin-left: auto;
    color: white;
    display: inline-block;
}

.glow-title {
    text-shadow: 5px 5px 20px white;
}

.sub-header {
    color: #26D1B3;
}