.SideNav{
    min-height:100%;
    min-width: 25%;
    background-color: #26D1B3;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px ;
    display: inline-block;
}
.BtnGroup{
    margin-right: auto;
    margin-left: auto;
    color: white;
    display: inline-block;
}

.color-nav{
    background-color: #26D1B3;
}